@font-face {
    font-family: "Chillax";
    src: url("/assets/fonts/Chillax-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Chillax", sans-serif;
    height: 100dvh;
    overflow: hidden;
    background-color: blue;
    background-image: radial-gradient(at 10% 80%, hsla(238, 62%, 68%, 1) 0px, transparent 50%),
        radial-gradient(at 98% 25%, hsla(190, 78%, 69%, 1) 0px, transparent 50%),
        radial-gradient(at 13% 24%, hsla(183, 84%, 61%, 1) 0px, transparent 50%),
        radial-gradient(at 30% 12%, hsla(305, 90%, 75%, 1) 0px, transparent 50%),
        radial-gradient(at 94% 67%, hsla(0, 63%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 1% 9%, hsla(249, 74%, 75%, 1) 0px, transparent 50%),
        radial-gradient(at 99% 3%, hsla(179, 91%, 67%, 1) 0px, transparent 50%);
    color: white;
    box-sizing: border-box;
}

h2 a {
    color: white;
    text-decoration: none;
}

a {
    color: white;
    word-break: break-word;
}

.chevron {
    width: 1.2rem;
    height: 1.2rem;
    transform: rotate(-90deg);
}

p {
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

/* Adjust content container */
.content {
    height: calc(100dvh - 2dvh);
    padding: 0 1.5rem;
    overflow-y: auto;
    padding-bottom: 20px; /* Add some bottom padding for better scrolling */
}

/* Add styles for scrollbar */
.content::-webkit-scrollbar {
    width: 10px;
}

.content::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

.content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.item {
    margin-bottom: 3rem;
}
