@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    background-color: blue;
    background-image:
        radial-gradient(at 10% 80%, hsla(238, 62%, 68%, 1) 0px, transparent 50%),
        radial-gradient(at 98% 25%, hsla(190, 78%, 69%, 1) 0px, transparent 50%),
        radial-gradient(at 13% 24%, hsla(183, 84%, 61%, 1) 0px, transparent 50%),
        radial-gradient(at 30% 12%, hsla(305, 90%, 75%, 1) 0px, transparent 50%),
        radial-gradient(at 94% 67%, hsla(0, 63%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 1% 9%, hsla(249, 74%, 75%, 1) 0px, transparent 50%),
        radial-gradient(at 99% 3%, hsla(179, 91%, 67%, 1) 0px, transparent 50%);
}

h1 {
    margin-top: 0;
}

h4 {
    font-weight: 100;
    text-size-adjust: 100%;
}

.textMe {
    height: 65dvh;
    word-wrap: break-word;
    overflow: hidden;
}

h6 {
    font-weight: 500;
}

.under a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 110%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size cubic-bezier(0, .5, 0, 1) 0.5s;
}

.under a:hover,
.under a:focus {
    text-decoration: none;
    background-size: 100% 4px;
}

.container {
    height: 100dvh;
    position: absolute;
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.icon {
    background-image: none;
}

.imp {
    position: absolute;
    top: 92dvh;
    z-index: 1;
    float: right;
    right: 5dvh;
}

.top {
    position: absolute;
    top: 92dvh;
    z-index: 1;
}

.top:hover {
    animation: icon;
    animation-duration: 0.8s;
}

@keyframes icon {
    0% {
        top: calc(92dvh);
        padding-bottom: 0px;
    }

    25% {
        top: calc(92dvh - 3dvh);
        padding-bottom: 3dvh;

    }

    50% {
        top: calc(92dvh);
        padding-bottom: 0px;
    }

    75% {
        top: calc(92dvh - 1dvh);
        padding-bottom: 1dvh;
    }

    100% {
        top: calc(92dvh);
        padding-bottom: 0px;
    }
}

.chevron {
    width: 1.5rem;
    height: 1.5rem;
}

.content {
    padding: 13dvh 5dvh;
}

.section {
    width: 100vw;
    height: 100dvh;
    background-size: cover;
    scroll-snap-align: start;
    font-size: 1.2rem;
}

.section:nth-child(1),
.section:nth-child(1) a {
    color: white;
}

.section:nth-child(2),
.section:nth-child(2) a {
    color: white;
}

.section:nth-child(3),
.section:nth-child(3) a {
    color: white;
}

.section:nth-child(4),
.section:nth-child(4) a {
    color: white;
}

/*
background-color: #123524;
rgba(138, 43, 226, 1)
*/