@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    height: 100vh;
    height: -webkit-fill-available;
    width: 100vw;
    overflow: hidden;
    background-color: white;
}

.under a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 110%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size cubic-bezier(0, .5, 0, 1) 0.5s;
}

.under a:hover,
.under a:focus {
    text-decoration: none;
    background-size: 100% 4px;
}

.container {
    position: absolute;
    top: 8vh;
    width: 100vw;
    height: 92vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.icon {
    background-image: none;
}

.top {
    position: absolute;
    top: 85vh;
    z-index: 1;
}

.top:hover {
    animation: icon;
    animation-duration: 0.8s;
}

@keyframes icon {
    0% {
        top: 85vh;
        padding-bottom: 0px;
    }

    25% {
        top: 82vh;
        padding-bottom: 3vh;

    }

    50% {
        top: 85vh;
        padding-bottom: 0px;
    }

    75% {
        top: 84vh;
        padding-bottom: 1vh;
    }

    100% {
        top: 85vh;
        padding-bottom: 0px;
    }
}

.chevron {
    width: 1.5rem;
    height: 1.5rem;
}

.content {
    padding: 3vh 5vh;
}

.section {
    width: 100vw;
    height: 93vh;
    background-size: cover;
    scroll-snap-align: start;
    font-size: 1.2rem;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 30%;
    top: 250%;
    transform: translate(0%, -50%);
    user-select: none;
}

#image-track>.image {
    width: 40vmin;
    height: 50vmin;
    object-fit: cover;
    object-position: 100% center;
}

#image-track>.con {
    width: 145px;
    height: 50vmin;
    object-fit: cover;
    object-position: 100% center;
}

.section:nth-child(1),
.section:nth-child(1) a {
    background-color: #85b9dd;
    color: black;
}

.section:nth-child(2),
.section:nth-child(2) a {
    background-color: yellow;
    color: black;
}

.section:nth-child(3),
.section:nth-child(3) a {
    background-color: #8A2BE2;
    color: white;
}

.section:nth-child(4),
.section:nth-child(4) a {
    background-color: #123524;
    color: white;
}